body {
    background-color: black;
    background-image: url("./images/wp7808371.png");
    background-position: center;
    font-family: "Droid Sans";

}

h1 {
    color: yellow;
    text-align: center;
    font-family: Rachana;
}

.input {
    text-align: center;
}

#obi {
    border-radius: 30px;
    display: block;
    margin: 100px auto 50px;
    width: 60%;
    box-shadow: 10px 10px;
}
label {
    color: yellow;
    text-align: center;
    font-family: Rachana;
    font-size: larger;
}
button {
    background-color: #555555;
    border: none;
    color: yellow;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#wynik {
    color: darkkhaki;
    text-align: center;
    font-family: Rachana;
    font-size: xx-large;
}